* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  gap: 20px;
  display: flex;
  height: 500px;
  justify-content: center;
}
.buttons {
  display: flex;
  gap: 10px;

  /* min-width: 400px; */
  align-items: center;
  justify-content: center;
  color: white;
}
.evenNumber,
.oddNumber {
  background-color: rgb(125, 66, 181);
  width: 150px;
  border-radius: 10px;
  height: 150px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oddNumber:hover,
.evenNumber:hover {
  background: #000;
  color: white;
  cursor: pointer;
}
.result {
  display: flex;
  /* width: 400px; */
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.userInput,
.randomNumber {
  min-width: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  height: 150px;
}
#userInput,
#randomNumber {
  font-size: 30px;
}
.messageForClient {
  text-align: center;
}

@media screen and (max-width: 743px) {
  .main {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 345px) {
  .buttons,
  .result {
    flex-direction: column;
    /* gap: 20px; */
  }
  .oddNumber {
    margin-top: 190px;
  }
  .messageForClient {
    position: absolute;
    bottom: 15px;
  }
}
