* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid;
}
.main {
  display: flex;
  height: 500px;
}
.buttons {
  display: flex;
  gap: 10px;
  min-width: 400px;
  align-items: center;
  justify-content: center;
  color: white;
}
.evenNumber,
.oddNumber {
  background-color: rgb(125, 66, 181);
  width: 150px;
  height: 150px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oddNumber:hover,
.evenNumber:hover {
  background: #000;
  color: white;
  cursor: pointer;
}
.result {
  display: flex;
  width: 400px;
}
.userInput,
.userInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
